.FeaturedSection {
    margin-top: 40px;
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.CardSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    background-color: violet;
}

.CardSection * {
    margin: 0px auto;
}